<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>users</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <h3>All chats!</h3>
    <form method="get" action="/chats/new">
        <button>new chat</button>
    </form>

   <%   for(chat of chats){  %>
    <div class="main">
      <p>from : <%= chat.form %></p>
        <div class="msg">
            <p> <%= chat.msg %> </p>
            <form action="/users/<%= chat._id %>/edit" method="get">
                <button>Edit</button>
                
            </form><br>
            <form action="/users/<%= chat._id %>/DELETE?_method=DELETE" method="post">
                <button>delete chat</button>
    
            </form>
         </div>
        
        <p>received by <%= chat.to %> </p>
        <br>
        <p><%= chat.created_at.toString().split(" ")[4] %></p>        
        <p><%= chat.created_at.toString().split(" ").slice(0,4).join("-") %></p>        
        <br>
       

        </form>
        <hr>
    </div>
    <br>
    <br>

        <%   }  %>
</body>
</html>